In [131]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import seaborn as sns

In [132]:
# read our excel 
df = pd.read_excel(r'D:\End-To-End_Project_Survey\Survey_Project_Before_Cleaning.xlsx')
df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [133]:
# Set the max_columns option to None
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [134]:
# see the info about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 28 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Unique ID                                                                                     630 non-null    object
 1   Email                                                                                         630 non-null    object
 2   Date Taken (America/New_York)                                                                 630 non-null    object
 3   Time Taken (America/New_York)                                                                 630 non-null    object
 4   Browser                                                                                       0 non-null      float64
 5   OS                                                                                            0 non-null      float64
 6   City                                                                                          0 non-null      float64
 7   Country                                                                                       0 non-null      float64
 8   Referrer                                                                                      0 non-null      float64
 9   Time Spent                                                                                    630 non-null    object
 10  Q1 - Which Title Best Fits your Current Role?                                                 630 non-null    object
 11  Q2 - Did you switch careers into Data?                                                        630 non-null    object
 12  Q3 - Current Yearly Salary (in USD)                                                           630 non-null    object
 13  Q4 - What Industry do you work in?                                                            630 non-null    object
 14  Q5 - Favorite Programming Language                                                            630 non-null    object
 15  Q6 - How Happy are you in your Current Position with the following? (Salary)                  623 non-null    float64
 16  Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)       620 non-null    float64
 17  Q6 - How Happy are you in your Current Position with the following? (Coworkers)               619 non-null    float64
 18  Q6 - How Happy are you in your Current Position with the following? (Management)              618 non-null    float64
 19  Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)         617 non-null    float64
 20  Q6 - How Happy are you in your Current Position with the following? (Learning New Things)     625 non-null    float64
 21  Q7 - How difficult was it for you to break into Data?                                         630 non-null    object
 22  Q8 - If you were to look for a new job today, what would be the most important thing to you?  630 non-null    object
 23  Q9 - Male/Female?                                                                             630 non-null    object
 24  Q10 - Current Age                                                                             630 non-null    int64
 25  Q11 - Which Country do you live in?                                                           630 non-null    object
 26  Q12 - Highest Level of Education                                                              578 non-null    object
 27  Q13 - Ethnicity                                                                               630 non-null    object
dtypes: float64(11), int64(1), object(16)
memory usage: 137.9+ KB

In [135]:
# see how many rows and columns our data is
df.shape

(630, 28)

In [136]:
# drop unusable columns
df.drop(columns=["Email","Browser","OS","City","Date Taken (America/New_York)","Time Taken (America/New_York)",
                "Country","Referrer","Time Spent"],inplace = True)
df.head()

,Unique ID,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [137]:
# Rename columns to be more reasonable 
df.rename(columns={'Q1 - Which Title Best Fits your Current Role?':'Job Title',
                   'Q2 - Did you switch careers into Data?':'Career Switch',
                   'Q3 - Current Yearly Salary (in USD)':'Yearly Salary(in USD)',
                   'Q4 - What Industry do you work in?':'Work Industry',
                   'Q6 - How Happy are you in your Current Position with the following? (Salary)':'Happiness(Salary)',
                   'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)':'Happiness(Work/Life Balance)',
                   'Q6 - How Happy are you in your Current Position with the following? (Coworkers)':'Happiness(Coworkers)',
                   'Q6 - How Happy are you in your Current Position with the following? (Management)':'Happiness(Management)',
                   'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)':'Happiness(Upward Mobility)',
                   'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)':'Happiness(Learning New Things)',
                   'Q7 - How difficult was it for you to break into Data?':'Difficulty of Breaking into Data',
                   'Q8 - If you were to look for a new job today, what would be the most important thing to you?':'what do you look for in a new job',
                   'Q9 - Male/Female?':'Male/Female',
                   'Q10 - Current Age':'Age',
                   'Q11 - Which Country do you live in?':'Country',
                   'Q12 - Highest Level of Education':'Education Level',
                   'Q13 - Ethnicity':'Ethnicity',
                   'Q5 - Favorite Programming Language':'Favorite Programming Language'},inplace=True)
df.head()

,Unique ID,Job Title,Career Switch,Yearly Salary(in USD),Work Industry,Favorite Programming Language,Happiness(Salary),Happiness(Work/Life Balance),Happiness(Coworkers),Happiness(Management),Happiness(Upward Mobility),Happiness(Learning New Things),Difficulty of Breaking into Data,what do you look for in a new job,Male/Female,Age,Country,Education Level,Ethnicity
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unique ID                          630 non-null    object
 1   Job Title                          630 non-null    object
 2   Career Switch                      630 non-null    object
 3   Yearly Salary(in USD)              630 non-null    object
 4   Work Industry                      630 non-null    object
 5   Favorite Programming Language      630 non-null    object
 6   Happiness(Salary)                  623 non-null    float64
 7   Happiness(Work/Life Balance)       620 non-null    float64
 8   Happiness(Coworkers)               619 non-null    float64
 9   Happiness(Management)              618 non-null    float64
 10  Happiness(Upward Mobility)         617 non-null    float64
 11  Happiness(Learning New Things)     625 non-null    float64
 12  Difficulty of Breaking into Data   630 non-null    object
 13  what do you look for in a new job  630 non-null    object
 14  Male/Female                        630 non-null    object
 15  Age                                630 non-null    int64
 16  Country                            630 non-null    object
 17  Education Level                    578 non-null    object
 18  Ethnicity                          630 non-null    object
dtypes: float64(6), int64(1), object(12)
memory usage: 93.6+ KB

In [139]:
df.shape

(630, 19)

In [140]:
# see the nulls in our data 
df.isnull().sum()

Unique ID                             0
Job Title                             0
Career Switch                         0
Yearly Salary(in USD)                 0
Work Industry                         0
Favorite Programming Language         0
Happiness(Salary)                     7
Happiness(Work/Life Balance)         10
Happiness(Coworkers)                 11
Happiness(Management)                12
Happiness(Upward Mobility)           13
Happiness(Learning New Things)        5
Difficulty of Breaking into Data      0
what do you look for in a new job     0
Male/Female                           0
Age                                   0
Country                               0
Education Level                      52
Ethnicity                             0
dtype: int64

In [141]:
# Lets see the precentage of each missing data

df.isnull().sum() / df.shape[0] * 100

Unique ID                            0.000000
Job Title                            0.000000
Career Switch                        0.000000
Yearly Salary(in USD)                0.000000
Work Industry                        0.000000
Favorite Programming Language        0.000000
Happiness(Salary)                    1.111111
Happiness(Work/Life Balance)         1.587302
Happiness(Coworkers)                 1.746032
Happiness(Management)                1.904762
Happiness(Upward Mobility)           2.063492
Happiness(Learning New Things)       0.793651
Difficulty of Breaking into Data     0.000000
what do you look for in a new job    0.000000
Male/Female                          0.000000
Age                                  0.000000
Country                              0.000000
Education Level                      8.253968
Ethnicity                            0.000000
dtype: float64

In [142]:
df['Country'].value_counts()

United States                                           261
India                                                    73
United Kingdom                                           40
Canada                                                   32
Other (Please Specify):Nigeria                           18
Other (Please Specify):Germany                           14
Other (Please Specify):Nigeria                           10
Other (Please Specify):Spain                              9
Other (Please Specify):Australia                          8
Other (Please Specify):Poland                             6
Other (Please Specify):Egypt                              6
Other (Please Specify):Costa Rica                         6
Other (Please Specify):Kenya                              6
Other (Please Specify):Mexico                             6
Other (Please Specify):Netherlands                        5
Other (Please Specify):Portugal                           5
Other (Please Specify):Argentina                          5
Other (Please Specify):Colombia                           4
Other (Please Specify):Greece                             4
Other (Please Specify):France                             4
Other (Please Specify):Indonesia                          3
Other (Please Specify):Malaysia                           3
Other (Please Specify):Romania                            3
Other (Please Specify):Singapore                          3
Other (Please Specify)                                    3
Other (Please Specify):Morocco                            2
Other (Please Specify):Costa Rica                         2
Other (Please Specify):Ghana                              2
Other (Please Specify):Ireland                            2
Other (Please Specify):Philippines                        2
Other (Please Specify):Peru                               2
Other (Please Specify):UAE                                2
Other (Please Specify):Belgium                            2
Other (Please Specify):Bangladesh                         2
Other (Please Specify):Israel                             2
Other (Please Specify):Panama                             2
Other (Please Specify):Turkey                             2
Other (Please Specify):Niger                              2
Other (Please Specify):South Africa                       2
Other (Please Specify):Sudan                              2
Other (Please Specify):Denmark                            2
Other (Please Specify):Japan                              2
Other (Please Specify):Chile                              2
Other (Please Specify):Brazil                             2
Other (Please Specify):Bulgaria                           2
Other (Please Specify):Saudi Arabia                       1
Other (Please Specify):Saudi Arabia                       1
Other (Please Specify):Leba                               1
Other (Please Specify):United Arab Emirates               1
Other (Please Specify):Zambia                             1
Other (Please Specify):Sweden                             1
Other (Please Specify):Austr                              1
Other (Please Specify):Fin                                1
Other (Please Specify):Africa (Nigeria)                   1
Other (Please Specify):ghana                              1
Other (Please Specify):Uruguay                            1
Other (Please Specify):SG                                 1
Other (Please Specify):Hong Kong                          1
Other (Please Specify):uzb                                1
Other (Please Specify):Argentine                          1
Other (Please Specify):Morocco                            1
Other (Please Specify):TUNISIA                            1
Other (Please Specify):Sri lanka                          1
Other (Please Specify):Ireland                            1
Other (Please Specify):Kenua                              1
Other (Please Specify):Argentina                          1
Other (Please Specify):Aisa                               1
Other (Please Specify):Angola                             1
Other (Please Specify):Liberia                            1
Other (Please Specify):Algeria                            1
Other (Please Specify):Iraq                               1
Other (Please Specify):indonesia                          1
Other (Please Specify):Egypt                              1
Other (Please Specify):Republic democratic of Congo       1
Other (Please Specify):Serbia                             1
Other (Please Specify):Azerbaijan                         1
Other (Please Specify):Per                               1
Other (Please Specify):Kenya                              1
Other (Please Specify):Barbados                           1
Other (Please Specify):Thailand                           1
Other (Please Specify):Vietnam                            1
Other (Please Specify):turkey                             1
Other (Please Specify):Pakistan                           1
Other (Please Specify):Mozambique                         1
Other (Please Specify): Somalia                           1
Other (Please Specify):South Korea                        1
Other (Please Specify):Kosovo                             1
Other (Please Specify):nigeria                            1
Other (Please Specify):Portugsl                           1
Other (Please Specify):Macedonia                          1
Other (Please Specify):Irel                               1
Other (Please Specify):Iran                               1
Other (Please Specify):South Africa                       1
Other (Please Specify):Ire                                1
Other (Please Specify):Antigua                            1
Other (Please Specify):Venezuela                          1
Other (Please Specify):Brazik                             1
Other (Please Specify):Oman                               1
Name: Country, dtype: int64

In [169]:
df['Work Industry'].value_counts()[lambda x: x > 1]

Tech                                      149
Finance                                    94
Healthcare                                 83
Education                                  38
Telecommunication                          22
Construction                               14
Other (Please Specify):Retail              14
Real Estate                                13
Other (Please Specify):Consulting           8
Other (Please Specify):Automotive           7
Other (Please Specify):Manufacturing        7
Agriculture                                 7
Other (Please Specify)                      5
Other (Please Specify):Logistics            4
Other (Please Specify):Marketing            4
Other (Please Specify):Insurance            3
Other (Please Specify):Distribution         3
Other (Please Specify):Energy               3
Other (Please Specify):E-commerce           2
Other (Please Specify):Marketing            2
Other (Please Specify):Utilities            2
Other (Please Specify):Market research      2
Other (Please Specify):Supply Chain         2
Other (Please Specify):Ecommerce            2
Other (Please Specify):Government           2
Other (Please Specify):Consulti             2
Other (Please Specify):Nonprofit            2
Other (Please Specify):Manuf                2
Other (Please Specify):none                 2
Other (Please Specify):Advertising          2
Other (Please Specify):Aviation             2
Other (Please Specify):Insurance            2
Name: Work Industry, dtype: int64

In [144]:
len(df['Work Industry'].value_counts()[lambda x: x == 1])

113

In [163]:
#df['Favorite Programming Language'].value_counts()

In [162]:
#df['Ethnicity'].value_counts()

In [161]:
df['Education Level'].value_counts()

Bachelors      319
Masters        189
High School     36
Associates      15
PhD              5
Name: Education Level, dtype: int64

In [159]:
df['Male/Female'].value_counts()

Male      456
Female    160
Name: Male/Female, dtype: int64

In [158]:
df.shape

(616, 20)

## Standardize the Ethnicity column because i'm gonna need it

In [153]:
# Remove whitespace from the values in the Ethnicity column
df["Ethnicity_Cleaned"] = df["Ethnicity"].str.strip()

df_clean = df.drop(df[np.isin(df["Ethnicity"],['Native Hawaiian or other Pacific Islander',
                                          'Other (Please Specify):Bi-racial people should be able to check 2 options in 2022.',
                                               'Other (Please Specify):Bla',
                                               'Other (Please Specify):Half Asian half African',
                                               'Other (Please Specify):N/A',
                                               'Other (Please Specify)',
                                               'Other (Please Specify):Prefer not to ans',
                                               'Other (Please Specify):Race isn\'t a thing',
                                               'Other (Please Specify):Human',
                                               'Other (Please Specify):7',
                                               'Other (Please Specify):Bla',
                                               'Other (Please Specify):Melayu',
                                               'Other (Please Specify):Half black and half white',
                                               'Other (Please Specify):Mixed ( Caucasian / African-American )',
                                               'Other (Please Specify):Brown',
                                               'Other (Please Specify):Malay'])].index, inplace=False)

df["Ethnicity_Cleaned"] = df_clean["Ethnicity_Cleaned"]


#df["Ethnicity_Cleaned"] = df["Ethnicity_Cleaned"].str.upper()

df["Ethnicity_Cleaned"] = df["Ethnicity_Cleaned"].replace({
    "White or Caucasian": "WHITE",
   "Other (Please Specify):Greek":"WHITE",
    "Other (Please Specify):Russian":"WHITE",
    "Asian or Asian American": "ASIAN",
    "Other (Please Specify):Indian":"ASIAN",
    "American Indian or Alaska Native":"ASIAN",
    "Other (Please Specify):Dravidian":"ASIAN",
    "Other (Please Specify):Kurdish":"ASIAN",
    "Other (Please Specify):Asian":"ASIAN",
    "Other (Please Specify):Bangladeshi":"ASIAN",
    "Other (Please Specify):South Indian":"ASIAN",
    "Other (Please Specify):South Asian":"ASIAN",
    "Other (Please Specify):Pakistani":"ASIAN",
    "Black or African American": "BLACK",
    "Other (Please Specify):African":"BLACK",
    "Other (Please Specify):African":"BLACK",
    "Other (Please Specify):Sudanese African":"BLACK",
    "Other (Please Specify):Nigeria":"BLACK",
    "Other (Please Specify):Kenyan African":"BLACK",
    "Other (Please Specify):Black African, Zimbabwean Citizen":"BLACK",
    "Hispanic or Latino": "HISPANIC",
    "Other (Please Specify):Latino with Italian roots": "HISPANIC",
    "Other (Please Specify):Arab":"ARAB",
    "Other (Please Specify):Moroccan":"ARAB",
    "Other (Please Specify):Arab":"ARAB",
    "Other (Please Specify):arab":"ARAB",
    "Other (Please Specify):Arab":"ARAB",
    "Other (Please Specify):Arabian (from Maghreb)":"ARAB",
    "Other (Please Specify):Egyp":"ARAB",
    "Other (Please Specify):Middleeas":"ARAB",
  }, inplace=False)

df.head(100)

,Unique ID,Job Title,Career Switch,Yearly Salary(in USD),Work Industry,Favorite Programming Language,Happiness(Salary),Happiness(Work/Life Balance),Happiness(Coworkers),Happiness(Management),Happiness(Upward Mobility),Happiness(Learning New Things),Difficulty of Breaking into Data,what do you look for in a new job,Male/Female,Age,Country,Education Level,Ethnicity,Ethnicity_Cleaned
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,WHITE
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,ASIAN
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,WHITE
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,BLACK
5,62a33cb6cf25554317300177,Data Analyst,Yes,0-40k,Other (Please Specify):Coworking space,Python,2.0,3.0,3.0,3.0,3.0,2.0,Difficult,Good Work/Life Balance,Male,33,Other (Please Specify):Republic democratic of ...,NaN,Black or African American,BLACK
6,62a33cb72e54c9003e531c65,Data Scientist,Yes,0-40k,Finance,Python,0.0,6.0,6.0,6.0,6.0,5.0,Difficult,Better Salary,Male,24,Other (Please Specify),NaN,Black or African American,BLACK
7,62a33cd30f8c8599d5af0f8f,Data Engineer,Yes,125k-150k,Other (Please Specify):Retail,Other:SQL,10.0,5.0,5.0,5.0,5.0,9.0,Neither easy nor difficult,Remote Work,Male,35,United States,NaN,Asian or Asian American,ASIAN
8,62a33cd3cf255543173001d9,Data Analyst,Yes,86k-105k,Healthcare,R,4.0,4.0,4.0,4.0,5.0,5.0,Neither easy nor difficult,Better Salary,Male,35,United States,NaN,Asian or Asian American,ASIAN
9,62a33cd8bc6861bf3176c05f,Data Analyst,Yes,41k-65k,Telecommunication,Python,2.0,0.0,3.0,3.0,0.0,4.0,Very Difficult,Better Salary,Male,28,United States,NaN,Hispanic or Latino,HISPANIC
10,62a33ce918134ddc75ce8c30,Data Analyst,Yes,66k-85k,Other (Please Specify):Logistics,Python,10.0,10.0,8.0,8.0,8.0,10.0,Neither easy nor difficult,Remote Work,Male,37,Canada,NaN,White or Caucasian,WHITE
11,62a33cf30a77c1a77f65baa2,Data Analyst,Yes,0-40k,Other (Please Specify):Igaming,Python,3.0,8.0,10.0,10.0,7.0,8.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Serbia,NaN,White or Caucasian,WHITE
12,62a33d15f408bae018ed370d,Data Analyst,Yes,0-40k,Tech,R,1.0,10.0,9.0,9.0,5.0,10.0,Neither easy nor difficult,Better Salary,Male,34,Other (Please Specify):Argentina,NaN,Other (Please Specify):Latino with Italian roots,HISPANIC
13,62a33d1ebae91e4b8b82e707,Data Scientist,Yes,0-40k,Education,Python,3.0,10.0,10.0,6.0,7.0,8.0,Easy,Good Work/Life Balance,Male,30,United Kingdom,NaN,White or Caucasian,WHITE
14,62a33d4624a26260273824c4,Data Analyst,No,41k-65k,Construction,R,4.0,5.0,5.0,5.0,4.0,5.0,Neither easy nor difficult,Good Culture,Male,31,United States,NaN,White or Caucasian,WHITE
15,62a33d5c0f8c8599d5af107c,Data Analyst,Yes,41k-65k,Finance,Python,4.0,10.0,7.0,7.0,7.0,5.0,Difficult,Good Culture,Male,29,United States,NaN,White or Caucasian,WHITE
16,62a33d850f8c8599d5af10cb,Data Analyst,Yes,0-40k,Tech,Python,1.0,2.0,4.0,2.0,2.0,2.0,Neither easy nor difficult,Better Salary,Male,22,Other (Please Specify):Niger,NaN,Black or African American,BLACK
17,62a33d9bf8f7561645852496,Student/Looking/None,Yes,0-40k,Other (Please Specify):Retail,Python,1.0,3.0,2.0,2.0,4.0,1.0,Difficult,Better Salary,Male,23,United States,NaN,Black or African American,BLACK
18,62a33dbdd8c00e9f5419cd65,Student/Looking/None,No,41k-65k,Tech,R,7.0,8.0,8.0,6.0,8.0,3.0,Very Difficult,Better Salary,Female,26,Canada,NaN,Asian or Asian American,ASIAN
19,62a33de124a26260273826b2,Data Analyst,No,0-40k,Other (Please Specify):Aviation,Python,1.0,1.0,1.0,1.0,2.0,0.0,Very Difficult,Better Salary,Male,28,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK
20,62a33dedd8c00e9f5419ce2b,Data Analyst,Yes,41k-65k,Finance,Python,5.0,5.0,5.0,5.0,5.0,5.0,Easy,Remote Work,Male,29,Other (Please Specify):Kenya,NaN,Black or African American,BLACK
21,62a33dfbd8c00e9f5419ceda,Data Analyst,Yes,106k-125k,Tech,Other:Mostly use sql but thats not programmin...,10.0,5.0,10.0,6.0,10.0,10.0,Neither easy nor difficult,Remote Work,Female,31,United States,NaN,White or Caucasian,WHITE
22,62a33e38f3072dd8926221d3,Data Analyst,Yes,0-40k,Healthcare,Python,5.0,6.0,8.0,8.0,7.0,1.0,Neither easy nor difficult,Remote Work,Male,28,Other (Please Specify):Azerbaijan,NaN,White or Caucasian,WHITE
23,62a33e54d8c00e9f5419cfe9,Data Analyst,No,0-40k,Finance,Python,4.0,4.0,4.0,4.0,4.0,4.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Argentina,NaN,Hispanic or Latino,HISPANIC
24,62a33e62575fa3a5ae88aabf,Data Analyst,No,0-40k,Tech,Python,7.0,8.0,8.0,8.0,3.0,8.0,Easy,Better Salary,Male,24,Other (Please Specify):Sudan,NaN,Black or African American,BLACK
25,62a33e63cec54911e9ca4f99,Data Analyst,No,0-40k,Tech,Python,4.0,6.0,6.0,6.0,7.0,7.0,Easy,Good Work/Life Balance,Male,31,India,NaN,Asian or Asian American,ASIAN
26,62a33e72bae91e4b8b82ea1a,Data Analyst,No,66k-85k,Other (Please Specify):Insurance,Other:SQL,7.0,10.0,5.0,5.0,5.0,2.0,Difficult,Other (Please Specify):Responsibilities,Male,23,United States,NaN,White or Caucasian,WHITE
27,62a33e890f8c8599d5af13b9,Data Analyst,Yes,106k-125k,Other (Please Specify):Energy,Python,1.0,6.0,9.0,1.0,0.0,2.0,Difficult,Remote Work,Female,33,United States,NaN,Asian or Asian American,ASIAN
28,62a33e8bf8d5efcc22f7c79a,Data Analyst,No,86k-105k,Healthcare,Other:Qlik sense script,6.0,7.0,7.0,7.0,7.0,4.0,Very Easy,Better Salary,Male,43,United States,NaN,White or Caucasian,WHITE
29,62a33e90cec54911e9ca5031,Student/Looking/None,Yes,0-40k,Other (Please Specify):Oil and gas,R,0.0,0.0,5.0,0.0,0.0,0.0,Very Difficult,Remote Work,Female,23,Other (Please Specify):Nigeria,NaN,Other (Please Specify):African,BLACK
30,62a33e9df8f756164585277b,Student/Looking/None,Yes,41k-65k,Finance,Python,10.0,7.0,10.0,10.0,5.0,3.0,Very Difficult,Good Work/Life Balance,Male,31,United States,NaN,Black or African American,BLACK
31,62a33eb6bc6861bf3176c5a3,Data Analyst,Yes,66k-85k,Finance,Python,5.0,6.0,7.0,5.0,4.0,4.0,Neither easy nor difficult,Other (Please Specify):Development,Male,31,United Kingdom,NaN,White or Caucasian,WHITE
32,62a33ee0bae91e4b8b82eaec,Data Analyst,Yes,0-40k,Other (Please Specify),Python,8.0,7.0,8.0,7.0,7.0,7.0,Difficult,Good Work/Life Balance,Male,25,India,NaN,Asian or Asian American,ASIAN
33,62a33ee80f8c8599d5af14b7,Data Engineer,No,125k-150k,Tech,Other:SQL,8.0,10.0,10.0,9.0,9.0,9.0,Easy,Better Salary,Male,43,United States,NaN,White or Caucasian,WHITE
34,62a33efe0a77c1a77f65bf1e,Data Analyst,No,41k-65k,Finance,Python,2.0,3.0,5.0,5.0,5.0,5.0,Difficult,Better Salary,Female,26,Canada,NaN,Other (Please Specify):South Asian,ASIAN
35,62a33f0ef408bae018ed3aeb,Other (Please Specify):FP&A Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,5.0,10.0,8.0,8.0,8.0,7.0,Neither easy nor difficult,Remote Work,Male,32,Other (Please Specify):Japan,NaN,White or Caucasian,WHITE
36,62a33f17f8f7561645852867,Other (Please Specify):BI Developer,No,0-40k,Tech,Python,2.0,9.0,7.0,7.0,5.0,6.0,Difficult,Better Salary,Male,31,Other (Please Specify):Greece,NaN,White or Caucasian,WHITE
37,62a33f52bc6861bf3176c72c,Data Analyst,Yes,86k-105k,Healthcare,Other:sql,3.0,5.0,6.0,4.0,4.0,5.0,Neither easy nor difficult,Better Salary,Male,29,United States,NaN,White or Caucasian,WHITE
38,62a33f56cf255543173005e9,Data Analyst,Yes,0-40k,Other (Please Specify):Automotive,Python,3.0,1.0,3.0,2.0,3.0,1.0,Neither easy nor difficult,Good Culture,Male,24,Other (Please Specify):Per,NaN,Hispanic or Latino,HISPANIC
39,62a33f5a5d257a28a30d7bb5,Student/Looking/None,Yes,41k-65k,Construction,Python,2.0,0.0,2.0,2.0,0.0,0.0,Very Difficult,Remote Work,Male,34,United States,NaN,White or Caucasian,WHITE
40,62a33fa5cec54911e9ca51f1,Data Analyst,Yes,41k-65k,Other (Please Specify):Utili,Other:Power bi,5.0,6.0,6.0,5.0,4.0,6.0,Very Difficult,Better Salary,Male,42,Other (Please Specify):Australia,NaN,Other (Please Specify):Indian,ASIAN
41,62a33fcb575fa3a5ae88ad59,Student/Looking/None,Yes,0-40k,Other (Please Specify):Not working yet,JavaScript,0.0,0.0,0.0,0.0,0.0,0.0,Difficult,Remote Work,Female,40,United States,NaN,Asian or Asian American,ASIAN
42,62a33fcf18134ddc75ce91c3,Student/Looking/None,No,41k-65k,Telecommunication,Python,3.0,1.0,3.0,4.0,0.0,3.0,Easy,Good Work/Life Balance,Male,43,Other (Please Specify):Spain,NaN,White or Caucasian,WHITE
43,62a34006d8c00e9f5419d341,Student/Looking/None,Yes,0-40k,Construction,Python,0.0,0.0,0.0,0.0,0.0,0.0,Very Difficult,Better Salary,Male,23,Other (Please Specify):Kenya,NaN,Other (Please Specify):Kenyan African,BLACK
44,62a34020575fa3a5ae88ade0,Student/Looking/None,Yes,0-40k,Education,Python,5.0,5.0,3.0,5.0,2.0,6.0,Difficult,Better Salary,Male,23,Other (Please Specify):Japan,NaN,Asian or Asian American,ASIAN
45,62a34038b4da29969c62eafe,Data Analyst,Yes,86k-105k,Other (Please Specify):Manufa,Python,8.0,6.0,2.0,3.0,6.0,7.0,Neither easy nor difficult,Other (Please Specify):Strong organizational d...,Male,28,United States,NaN,White or Caucasian,WHITE
46,62a3406b575fa3a5ae88ae78,Data Analyst,No,66k-85k,Finance,Other:SQL,5.0,7.0,1.0,1.0,0.0,8.0,Neither easy nor difficult,Better Salary,Male,32,United States,NaN,White or Caucasian,WHITE
47,62a340cab4da29969c62ec01,Data Analyst,Yes,66k-85k,Other (Please Specify):Manufacturing (Chemicals),R,7.0,8.0,10.0,8.0,9.0,9.0,Difficult,Remote Work,Female,41,United States,NaN,White or Caucasian,WHITE
48,62a340d62e54c9003e5324b4,Data Analyst,Yes,41k-65k,Finance,Python,5.0,6.0,6.0,6.0,6.0,6.0,Neither easy nor difficult,Remote Work,Male,33,United Kingdom,High School,White or Caucasian,WHITE
49,62a340e10a77c1a77f65c2e7,"Other (Please Specify):Manager, Business Intel...",Yes,150k-225k,Tech,Python,10.0,8.0,9.0,8.0,8.0,10.0,Easy,Good Work/Life Balance,Male,38,United States,NaN,Hispanic or Latino,HISPANIC
50,62a340f5bc6861bf3176caa4,Data Analyst,No,0-40k,Tech,Other:sql,8.0,8.0,8.0,8.0,5.0,10.0,Easy,Better Salary,Female,22,India,NaN,Other (Please Specify):Indian,ASIAN
51,62a34117cec54911e9ca54e7,Student/Looking/None,Yes,0-40k,Other (Please Specify):Currently studying . Pr...,R,1.0,3.0,6.0,6.0,6.0,9.0,Difficult,Remote Work,Male,36,Other (Please Specify):Barbados,Bachelors,Black or African American,BLACK
52,62a3413a5d257a28a30d8074,Data Engineer,No,66k-85k,Finance,Python,2.0,1.0,1.0,1.0,3.0,7.0,Easy,Remote Work,Female,28,United States,Masters,Asian or Asian American,ASIAN
53,62a341a1f3072dd8926229a5,Student/Looking/None,Yes,0-40k,Other (Please Specify):Not working at the mome...,Other:If SQL is categorised as a programming l...,NaN,NaN,NaN,NaN,NaN,7.0,Very Easy,Other (Please Specify):I would say a combinati...,Male,30,Other (Please Specify):South Africa,NaN,"Other (Please Specify):Black African, Zimbabwe...",BLACK
54,62a341b0f8f7561645852d1d,Data Analyst,Yes,66k-85k,Tech,Python,6.0,6.0,6.0,6.0,5.0,6.0,Difficult,Other (Please Specify):Currently very happy wi...,Female,24,United States,Bachelors,Hispanic or Latino,HISPANIC
55,62a341e8f8d5efcc22f7d002,Other (Please Specify):Business Analyst,No,41k-65k,Other (Please Specify):Third Party Logistics,C/C++,3.0,6.0,7.0,7.0,0.0,3.0,Very Difficult,Better Salary,Male,29,United States,Bachelors,White or Caucasian,WHITE
56,62a34210cf25554317300c02,Data Analyst,No,0-40k,Tech,Python,4.0,9.0,10.0,9.0,9.0,10.0,Easy,Better Salary,Male,29,Other (Please Specify):Colombia,Associates,Hispanic or Latino,HISPANIC
57,62a3424eb4da29969c62eedd,Other (Please Specify):Business Analyst,Yes,41k-65k,Other (Please Specify):Automotive,Python,6.0,8.0,8.0,7.0,9.0,7.0,Neither easy nor difficult,Good Work/Life Balance,Male,38,Other (Please Specify):Germany,Masters,White or Caucasian,WHITE
58,62a34256bae91e4b8b82f16d,Data Analyst,Yes,0-40k,Finance,Other:I dont know any,3.0,5.0,4.0,3.0,3.0,3.0,Difficult,Good Work/Life Balance,Male,31,Other (Please Specify):Bulgaria,Masters,White or Caucasian,WHITE
59,62a3426cf408bae018ed409b,Student/Looking/None,No,0-40k,Tech,Python,1.0,4.0,5.0,5.0,1.0,1.0,Difficult,Better Salary,Male,25,United States,Masters,White or Caucasian,WHITE
60,62a34272f8d5efcc22f7d15f,Data Analyst,No,66k-85k,Telecommunication,Python,4.0,6.0,4.0,5.0,4.0,4.0,Neither easy nor difficult,Better Salary,Male,24,United States,Masters,White or Caucasian,WHITE
61,62a34340bc6861bf3176d05b,Other (Please Specify):Business Intelligence C...,Yes,41k-65k,Tech,Python,6.0,7.0,4.0,3.0,9.0,8.0,Difficult,Better Salary,Male,28,Other (Please Specify):Turkey,Bachelors,White or Caucasian,WHITE
62,62a34383b4da29969c62f1be,Student/Looking/None,No,0-40k,Tech,Python,7.0,5.0,8.0,0.0,0.0,0.0,Neither easy nor difficult,Good Culture,Female,23,India,Bachelors,Asian or Asian American,ASIAN
63,62a34389cec54911e9ca5a22,Data Engineer,No,0-40k,Tech,R,2.0,3.0,2.0,5.0,5.0,7.0,Neither easy nor difficult,Remote Work,Male,21,Other (Please Specify):Spain,Masters,Hispanic or Latino,HISPANIC
65,62a343d9f3072dd892622fe4,Data Analyst,Yes,41k-65k,Tech,Python,5.0,6.0,7.0,7.0,7.0,6.0,Difficult,Better Salary,Male,25,United States,Bachelors,Asian or Asian American,ASIAN
66,62a34400d8c00e9f5419dc2b,Data Analyst,No,41k-65k,Tech,Python,6.0,6.0,6.0,6.0,3.0,5.0,Difficult,Good Culture,Male,27,Other (Please Specify):Germany,Masters,Black or African American,BLACK
67,62a34425f8d5efcc22f7d525,Data Analyst,Yes,41k-65k,Tech,Python,3.0,9.0,10.0,8.0,9.0,9.0,Easy,Better Salary,Male,23,India,Bachelors,Asian or Asian American,ASIAN
68,62a34449575fa3a5ae88b637,Other (Please Specify):Sr. Supply Chain Analyst,No,86k-105k,Other (Please Specify):Food & Beverage,R,4.0,3.0,3.0,5.0,5.0,5.0,Difficult,Better Salary,Male,32,United States,Masters,Asian or Asian American,ASIAN
69,62a3445dcf255543173011e1,Student/Looking/None,Yes,106k-125k,Healthcare,Python,5.0,5.0,7.0,5.0,7.0,7.0,Neither easy nor difficult,Remote Work,Male,22,India,Bachelors,Asian or Asian American,ASIAN
70,62a3447a575fa3a5ae88b6c0,Data Analyst,No,0-40k,Tech,Python,2.0,9.0,9.0,8.0,6.0,2.0,Easy,Better Salary,Male,25,Other (Please Specify):Thailand,Bachelors,Asian or Asian American,ASIAN
71,62a3449f7dc029e2d66bf5d1,Data Analyst,Yes,0-40k,Telecommunication,Python,2.0,8.0,6.0,6.0,5.0,5.0,Neither easy nor difficult,Remote Work,Female,36,Other (Please Specify):Germany,Masters,White or Caucasian,WHITE
72,62a344c5f408bae018ed4806,Data Analyst,Yes,106k-125k,Tech,Other:SQL,10.0,6.0,9.0,5.0,8.0,7.0,Easy,Good Work/Life Balance,Female,27,United States,Bachelors,White or Caucasian,WHITE
73,62a344c6f8d5efcc22f7d6e1,Other (Please Specify):Business analyst,Yes,0-40k,Tech,Python,5.0,5.0,5.0,5.0,5.0,1.0,Neither easy nor difficult,Other (Please Specify):My passion is to become...,Male,23,India,Bachelors,Asian or Asian American,ASIAN
74,62a344e1f3072dd892623328,Student/Looking/None,Yes,0-40k,Tech,Other:Sql,2.0,3.0,3.0,3.0,3.0,6.0,Very Difficult,Better Salary,Male,26,Other (Please Specify):Netherlands,Bachelors,Black or African American,BLACK
75,62a3450424a262602738357f,Other (Please Specify):Director of Data Analytics,No,86k-105k,Healthcare,Python,9.0,10.0,10.0,10.0,10.0,10.0,Very Easy,Good Work/Life Balance,Female,33,United States,PhD,Hispanic or Latino,HISPANIC
76,62a3452818134ddc75ce9e1b,Data Analyst,Yes,106k-125k,Other (Please Specify):Automotive,Python,3.0,5.0,3.0,3.0,5.0,5.0,Easy,Better Salary,Male,27,Other (Please Specify):Turkey,Masters,White or Caucasian,WHITE
77,62a345490a77c1a77f65cc5b,Data Analyst,Yes,41k-65k,Education,R,3.0,6.0,5.0,4.0,3.0,4.0,Neither easy nor difficult,Better Salary,Male,42,United States,Associates,White or Caucasian,WHITE
78,62a3455bbc6861bf3176d57a,Data Analyst,Yes,0-40k,Tech,Python,6.0,7.0,8.0,7.0,7.0,8.0,Easy,Good Work/Life Balance,Male,29,Other (Please Specify):Spain,Masters,White or Caucasian,WHITE
79,62a3457bf8d5efcc22f7da17,Data Analyst,No,125k-150k,Tech,Python,4.0,7.0,6.0,4.0,2.0,4.0,Easy,Better Salary,Female,27,United States,Masters,Asian or Asian American,ASIAN
80,62a345b2bae91e4b8b82fad6,Student/Looking/None,No,41k-65k,Healthcare,Python,0.0,10.0,10.0,10.0,4.0,2.0,Neither easy nor difficult,Remote Work,Female,39,United States,Bachelors,Hispanic or Latino,HISPANIC
81,62a345c47dc029e2d66bf80a,Data Analyst,Yes,41k-65k,Telecommunication,Python,6.0,6.0,7.0,5.0,6.0,7.0,Difficult,Good Culture,Male,31,Other (Please Specify):Denmark,Masters,White or Caucasian,WHITE
82,62a345e25d257a28a30d8b43,Data Analyst,Yes,66k-85k,Other (Please Specify):Marketing,Python,7.0,7.0,5.0,9.0,7.0,8.0,Easy,Good Work/Life Balance,Male,29,Other (Please Specify):Brazil,Bachelors,Hispanic or Latino,HISPANIC
83,62a34646f8d5efcc22f7dc5c,Data Analyst,Yes,66k-85k,Education,R,7.0,7.0,7.0,7.0,4.0,7.0,Easy,Remote Work,Male,31,United States,Masters,White or Caucasian,WHITE
84,62a34687f408bae018ed4c52,Data Analyst,Yes,0-40k,Finance,Python,10.0,9.0,9.0,10.0,9.0,10.0,Neither easy nor difficult,Good Culture,Male,30,Other (Please Specify):Mexico,Masters,Hispanic or Latino,HISPANIC
85,62a346a37dc029e2d66bfa6d,Data Engineer,Yes,0-40k,Tech,Python,7.0,8.0,6.0,5.0,5.0,9.0,Difficult,Better Salary,Male,33,Other (Please Specify):Mexico,Masters,Hispanic or Latino,HISPANIC
86,62a346a95d257a28a30d8cb9,Data Analyst,No,66k-85k,Other (Please Specify):Retail,Python,7.0,8.0,9.0,7.0,7.0,7.0,Neither easy nor difficult,Better Salary,Male,25,United States,Bachelors,White or Caucasian,WHITE
87,62a346b4bc6861bf3176d7ce,Student/Looking/None,No,0-40k,Tech,R,0.0,0.0,0.0,0.0,0.0,0.0,Neither easy nor difficult,Good Work/Life Balance,Male,23,India,Bachelors,Other (Please Specify):Indian,ASIAN
88,62a346cef8f756164585385b,Data Analyst,Yes,41k-65k,Other (Please Specify):Advertising,Other:Dont require,4.0,4.0,3.0,3.0,5.0,6.0,Very Difficult,Better Salary,Male,33,United States,Bachelors,Asian or Asian American,ASIAN
89,62a346d724a2626027383abd,Other (Please Specify):Business Analyst,Yes,66k-85k,Other (Please Specify):Logistics,Python,7.0,9.0,9.0,8.0,8.0,9.0,Neither easy nor difficult,Good Work/Life Balance,Male,35,Other (Please Specify):Chile,Bachelors,Hispanic or Latino,HISPANIC
90,62a346d90a77c1a77f65d08d,Data Analyst,No,41k-65k,Other (Please Specify):Staffing and Recruting,Python,6.0,8.0,5.0,NaN,6.0,9.0,Neither easy nor difficult,Remote Work,Female,42,Other (Please Specify):Greece,Masters,White or Caucasian,WHITE
91,62a34726f8d5efcc22f7dec7,Data Analyst,No,66k-85k,Tech,Python,3.0,4.0,2.0,1.0,0.0,4.0,Neither easy nor difficult,Better Salary,Male,25,United States,Bachelors,White or Caucasian,WHITE
92,62a3476c5d257a28a30d8e6d,Data Analyst,No,86k-105k,Other (Please Specify):Automotive,Python,5.0,4.0,5.0,4.0,3.0,6.0,Neither easy nor difficult,"Other (Please Specify):Different job title, ei...",Male,23,United States,Bachelors,White or Caucasian,WHITE
93,62a347b4f8f7561645853a98,Other (Please Specify):Learning Management Spe...,No,41k-65k,Healthcare,JavaScript,2.0,4.0,6.0,5.0,3.0,4.0,Easy,Better Salary,Female,51,United States,Bachelors,Black or African American,BLACK
94,62a347f6b4da29969c62fb79,Data Analyst,No,0-40k,Telecommunication,Other,1.0,4.0,4.0,3.0,2.0,6.0,Very Difficult,Better Salary,Male,30,United Kingdom,Bachelors,Black or African American,BLACK
95,62a3483018134ddc75cea4e6,Data Analyst,Yes,41k-65k,Finance,Python,8.0,9.0,9.0,9.0,9.0,8.0,Very Difficult,Better Salary,Male,23,India,Bachelors,Asian or Asian American,ASIAN
96,62a348650f8c8599d5af2b77,Other (Please Specify):Research Analyst,Yes,41k-65k,Other (Please Specify):Advertising,R,3.0,5.0,5.0,6.0,3.0,4.0,Neither easy nor difficult,Better Salary,Male,24,Canada,Bachelors,Asian or Asian American,ASIAN

In [154]:
df['Ethnicity_Cleaned'].value_counts()

WHITE                                                                                 241
ASIAN                                                                                 181
BLACK                                                                                 111
HISPANIC                                                                               74
ARAB                                                                                    7
Other (Please Specify):Half Asian half African                                          1
Other (Please Specify):Bi-racial people should be able to check 2 options in 2022.      1
Name: Ethnicity_Cleaned, dtype: int64

## For the Salary I want to split the column, convert it to integer and get average salary from that
## So Here i'm gonna make an average column for the Salary

In [165]:
#splitting the salary column by '-' and remove the 'k' & '+'

#split salary column on '-' and remove the 'k'
salary = df['Yearly Salary(in USD)'].str.replace('k', '').str.split('-', expand = True).fillna(np.NaN)

#removing the '+'
salary[0] = salary[0].str.replace('+', '')

#fill the null rows with '225' for rows with '225+' initially so I can get the average
salary[1] = salary[1].fillna(salary[0])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_17392\3658037592.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  salary[0] = salary[0].str.replace('+', '')

In [166]:
#convert the salaries from object to int so I can erform mathematical operations

cols = [0, 1]

for col in cols:
    salary[col] = salary[col].astype(int)
    

#get the average of the salaries
salary['avg'] = (salary[0] + salary[1]) / 2

#view the new salary subset
salary.head()

     0    1    avg
0  106  125  115.5
1   41   65   53.0
2    0   40   20.0
3  150  225  187.5
4   41   65   53.0

In [167]:
#assign the avg salary to its own column in the main dataset

df['Average Salary'] = salary['avg']

#view dataset
df.head()

,Unique ID,Job Title,Career Switch,Yearly Salary(in USD),Work Industry,Favorite Programming Language,Happiness(Salary),Happiness(Work/Life Balance),Happiness(Coworkers),Happiness(Management),Happiness(Upward Mobility),Happiness(Learning New Things),Difficulty of Breaking into Data,what do you look for in a new job,Male/Female,Age,Country,Education Level,Ethnicity,Ethnicity_Cleaned,Average Salary
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,WHITE,115.5
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,ASIAN,53.0
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK,20.0
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,WHITE,187.5
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,BLACK,53.0

In [176]:
#df['Country'].value_counts()

## Standardize the Country Column

In [187]:
df["Countries_Cleaned"] = df["Country"].str.strip()

df["Country_Cleaned"] = df["Country"].str.split(":", 1).str[-1]

df.head(50)

,Unique ID,Job Title,Career Switch,Yearly Salary(in USD),Work Industry,Favorite Programming Language,Happiness(Salary),Happiness(Work/Life Balance),Happiness(Coworkers),Happiness(Management),Happiness(Upward Mobility),Happiness(Learning New Things),Difficulty of Breaking into Data,what do you look for in a new job,Male/Female,Age,Country,Education Level,Ethnicity,Ethnicity_Cleaned,Average Salary,Countries_Cleaned,Country_Cleaned
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,WHITE,115.5,United States,United States
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,ASIAN,53.0,Canada,Canada
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Nigeria,Nigeria
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,WHITE,187.5,Canada,Canada
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,BLACK,53.0,United States,United States
5,62a33cb6cf25554317300177,Data Analyst,Yes,0-40k,Other (Please Specify):Coworking space,Python,2.0,3.0,3.0,3.0,3.0,2.0,Difficult,Good Work/Life Balance,Male,33,Other (Please Specify):Republic democratic of ...,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Republic democratic of ...,Republic democratic of Congo
6,62a33cb72e54c9003e531c65,Data Scientist,Yes,0-40k,Finance,Python,0.0,6.0,6.0,6.0,6.0,5.0,Difficult,Better Salary,Male,24,Other (Please Specify),NaN,Black or African American,BLACK,20.0,Other (Please Specify),Other (Please Specify)
7,62a33cd30f8c8599d5af0f8f,Data Engineer,Yes,125k-150k,Other (Please Specify):Retail,Other:SQL,10.0,5.0,5.0,5.0,5.0,9.0,Neither easy nor difficult,Remote Work,Male,35,United States,NaN,Asian or Asian American,ASIAN,137.5,United States,United States
8,62a33cd3cf255543173001d9,Data Analyst,Yes,86k-105k,Healthcare,R,4.0,4.0,4.0,4.0,5.0,5.0,Neither easy nor difficult,Better Salary,Male,35,United States,NaN,Asian or Asian American,ASIAN,95.5,United States,United States
9,62a33cd8bc6861bf3176c05f,Data Analyst,Yes,41k-65k,Telecommunication,Python,2.0,0.0,3.0,3.0,0.0,4.0,Very Difficult,Better Salary,Male,28,United States,NaN,Hispanic or Latino,HISPANIC,53.0,United States,United States
10,62a33ce918134ddc75ce8c30,Data Analyst,Yes,66k-85k,Other (Please Specify):Logistics,Python,10.0,10.0,8.0,8.0,8.0,10.0,Neither easy nor difficult,Remote Work,Male,37,Canada,NaN,White or Caucasian,WHITE,75.5,Canada,Canada
11,62a33cf30a77c1a77f65baa2,Data Analyst,Yes,0-40k,Other (Please Specify):Igaming,Python,3.0,8.0,10.0,10.0,7.0,8.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Serbia,NaN,White or Caucasian,WHITE,20.0,Other (Please Specify):Serbia,Serbia
12,62a33d15f408bae018ed370d,Data Analyst,Yes,0-40k,Tech,R,1.0,10.0,9.0,9.0,5.0,10.0,Neither easy nor difficult,Better Salary,Male,34,Other (Please Specify):Argentina,NaN,Other (Please Specify):Latino with Italian roots,HISPANIC,20.0,Other (Please Specify):Argentina,Argentina
13,62a33d1ebae91e4b8b82e707,Data Scientist,Yes,0-40k,Education,Python,3.0,10.0,10.0,6.0,7.0,8.0,Easy,Good Work/Life Balance,Male,30,United Kingdom,NaN,White or Caucasian,WHITE,20.0,United Kingdom,United Kingdom
14,62a33d4624a26260273824c4,Data Analyst,No,41k-65k,Construction,R,4.0,5.0,5.0,5.0,4.0,5.0,Neither easy nor difficult,Good Culture,Male,31,United States,NaN,White or Caucasian,WHITE,53.0,United States,United States
15,62a33d5c0f8c8599d5af107c,Data Analyst,Yes,41k-65k,Finance,Python,4.0,10.0,7.0,7.0,7.0,5.0,Difficult,Good Culture,Male,29,United States,NaN,White or Caucasian,WHITE,53.0,United States,United States
16,62a33d850f8c8599d5af10cb,Data Analyst,Yes,0-40k,Tech,Python,1.0,2.0,4.0,2.0,2.0,2.0,Neither easy nor difficult,Better Salary,Male,22,Other (Please Specify):Niger,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Niger,Niger
17,62a33d9bf8f7561645852496,Student/Looking/None,Yes,0-40k,Other (Please Specify):Retail,Python,1.0,3.0,2.0,2.0,4.0,1.0,Difficult,Better Salary,Male,23,United States,NaN,Black or African American,BLACK,20.0,United States,United States
18,62a33dbdd8c00e9f5419cd65,Student/Looking/None,No,41k-65k,Tech,R,7.0,8.0,8.0,6.0,8.0,3.0,Very Difficult,Better Salary,Female,26,Canada,NaN,Asian or Asian American,ASIAN,53.0,Canada,Canada
19,62a33de124a26260273826b2,Data Analyst,No,0-40k,Other (Please Specify):Aviation,Python,1.0,1.0,1.0,1.0,2.0,0.0,Very Difficult,Better Salary,Male,28,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Nigeria,Nigeria
20,62a33dedd8c00e9f5419ce2b,Data Analyst,Yes,41k-65k,Finance,Python,5.0,5.0,5.0,5.0,5.0,5.0,Easy,Remote Work,Male,29,Other (Please Specify):Kenya,NaN,Black or African American,BLACK,53.0,Other (Please Specify):Kenya,Kenya
21,62a33dfbd8c00e9f5419ceda,Data Analyst,Yes,106k-125k,Tech,Other:Mostly use sql but thats not programmin...,10.0,5.0,10.0,6.0,10.0,10.0,Neither easy nor difficult,Remote Work,Female,31,United States,NaN,White or Caucasian,WHITE,115.5,United States,United States
22,62a33e38f3072dd8926221d3,Data Analyst,Yes,0-40k,Healthcare,Python,5.0,6.0,8.0,8.0,7.0,1.0,Neither easy nor difficult,Remote Work,Male,28,Other (Please Specify):Azerbaijan,NaN,White or Caucasian,WHITE,20.0,Other (Please Specify):Azerbaijan,Azerbaijan
23,62a33e54d8c00e9f5419cfe9,Data Analyst,No,0-40k,Finance,Python,4.0,4.0,4.0,4.0,4.0,4.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Argentina,NaN,Hispanic or Latino,HISPANIC,20.0,Other (Please Specify):Argentina,Argentina
24,62a33e62575fa3a5ae88aabf,Data Analyst,No,0-40k,Tech,Python,7.0,8.0,8.0,8.0,3.0,8.0,Easy,Better Salary,Male,24,Other (Please Specify):Sudan,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Sudan,Sudan
25,62a33e63cec54911e9ca4f99,Data Analyst,No,0-40k,Tech,Python,4.0,6.0,6.0,6.0,7.0,7.0,Easy,Good Work/Life Balance,Male,31,India,NaN,Asian or Asian American,ASIAN,20.0,India,India
26,62a33e72bae91e4b8b82ea1a,Data Analyst,No,66k-85k,Other (Please Specify):Insurance,Other:SQL,7.0,10.0,5.0,5.0,5.0,2.0,Difficult,Other (Please Specify):Responsibilities,Male,23,United States,NaN,White or Caucasian,WHITE,75.5,United States,United States
27,62a33e890f8c8599d5af13b9,Data Analyst,Yes,106k-125k,Other (Please Specify):Energy,Python,1.0,6.0,9.0,1.0,0.0,2.0,Difficult,Remote Work,Female,33,United States,NaN,Asian or Asian American,ASIAN,115.5,United States,United States
28,62a33e8bf8d5efcc22f7c79a,Data Analyst,No,86k-105k,Healthcare,Other:Qlik sense script,6.0,7.0,7.0,7.0,7.0,4.0,Very Easy,Better Salary,Male,43,United States,NaN,White or Caucasian,WHITE,95.5,United States,United States
29,62a33e90cec54911e9ca5031,Student/Looking/None,Yes,0-40k,Other (Please Specify):Oil and gas,R,0.0,0.0,5.0,0.0,0.0,0.0,Very Difficult,Remote Work,Female,23,Other (Please Specify):Nigeria,NaN,Other (Please Specify):African,BLACK,20.0,Other (Please Specify):Nigeria,Nigeria
30,62a33e9df8f756164585277b,Student/Looking/None,Yes,41k-65k,Finance,Python,10.0,7.0,10.0,10.0,5.0,3.0,Very Difficult,Good Work/Life Balance,Male,31,United States,NaN,Black or African American,BLACK,53.0,United States,United States
31,62a33eb6bc6861bf3176c5a3,Data Analyst,Yes,66k-85k,Finance,Python,5.0,6.0,7.0,5.0,4.0,4.0,Neither easy nor difficult,Other (Please Specify):Development,Male,31,United Kingdom,NaN,White or Caucasian,WHITE,75.5,United Kingdom,United Kingdom
32,62a33ee0bae91e4b8b82eaec,Data Analyst,Yes,0-40k,Other (Please Specify),Python,8.0,7.0,8.0,7.0,7.0,7.0,Difficult,Good Work/Life Balance,Male,25,India,NaN,Asian or Asian American,ASIAN,20.0,India,India
33,62a33ee80f8c8599d5af14b7,Data Engineer,No,125k-150k,Tech,Other:SQL,8.0,10.0,10.0,9.0,9.0,9.0,Easy,Better Salary,Male,43,United States,NaN,White or Caucasian,WHITE,137.5,United States,United States
34,62a33efe0a77c1a77f65bf1e,Data Analyst,No,41k-65k,Finance,Python,2.0,3.0,5.0,5.0,5.0,5.0,Difficult,Better Salary,Female,26,Canada,NaN,Other (Please Specify):South Asian,ASIAN,53.0,Canada,Canada
35,62a33f0ef408bae018ed3aeb,Other (Please Specify):FP&A Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,5.0,10.0,8.0,8.0,8.0,7.0,Neither easy nor difficult,Remote Work,Male,32,Other (Please Specify):Japan,NaN,White or Caucasian,WHITE,53.0,Other (Please Specify):Japan,Japan
36,62a33f17f8f7561645852867,Other (Please Specify):BI Developer,No,0-40k,Tech,Python,2.0,9.0,7.0,7.0,5.0,6.0,Difficult,Better Salary,Male,31,Other (Please Specify):Greece,NaN,White or Caucasian,WHITE,20.0,Other (Please Specify):Greece,Greece
37,62a33f52bc6861bf3176c72c,Data Analyst,Yes,86k-105k,Healthcare,Other:sql,3.0,5.0,6.0,4.0,4.0,5.0,Neither easy nor difficult,Better Salary,Male,29,United States,NaN,White or Caucasian,WHITE,95.5,United States,United States
38,62a33f56cf255543173005e9,Data Analyst,Yes,0-40k,Other (Please Specify):Automotive,Python,3.0,1.0,3.0,2.0,3.0,1.0,Neither easy nor difficult,Good Culture,Male,24,Other (Please Specify):Per,NaN,Hispanic or Latino,HISPANIC,20.0,Other (Please Specify):Per,Per
39,62a33f5a5d257a28a30d7bb5,Student/Looking/None,Yes,41k-65k,Construction,Python,2.0,0.0,2.0,2.0,0.0,0.0,Very Difficult,Remote Work,Male,34,United States,NaN,White or Caucasian,WHITE,53.0,United States,United States
40,62a33fa5cec54911e9ca51f1,Data Analyst,Yes,41k-65k,Other (Please Specify):Utili,Other:Power bi,5.0,6.0,6.0,5.0,4.0,6.0,Very Difficult,Better Salary,Male,42,Other (Please Specify):Australia,NaN,Other (Please Specify):Indian,ASIAN,53.0,Other (Please Specify):Australia,Australia
41,62a33fcb575fa3a5ae88ad59,Student/Looking/None,Yes,0-40k,Other (Please Specify):Not working yet,JavaScript,0.0,0.0,0.0,0.0,0.0,0.0,Difficult,Remote Work,Female,40,United States,NaN,Asian or Asian American,ASIAN,20.0,United States,United States
42,62a33fcf18134ddc75ce91c3,Student/Looking/None,No,41k-65k,Telecommunication,Python,3.0,1.0,3.0,4.0,0.0,3.0,Easy,Good Work/Life Balance,Male,43,Other (Please Specify):Spain,NaN,White or Caucasian,WHITE,53.0,Other (Please Specify):Spain,Spain
43,62a34006d8c00e9f5419d341,Student/Looking/None,Yes,0-40k,Construction,Python,0.0,0.0,0.0,0.0,0.0,0.0,Very Difficult,Better Salary,Male,23,Other (Please Specify):Kenya,NaN,Other (Please Specify):Kenyan African,BLACK,20.0,Other (Please Specify):Kenya,Kenya
44,62a34020575fa3a5ae88ade0,Student/Looking/None,Yes,0-40k,Education,Python,5.0,5.0,3.0,5.0,2.0,6.0,Difficult,Better Salary,Male,23,Other (Please Specify):Japan,NaN,Asian or Asian American,ASIAN,20.0,Other (Please Specify):Japan,Japan
45,62a34038b4da29969c62eafe,Data Analyst,Yes,86k-105k,Other (Please Specify):Manufa,Python,8.0,6.0,2.0,3.0,6.0,7.0,Neither easy nor difficult,Other (Please Specify):Strong organizational d...,Male,28,United States,NaN,White or Caucasian,WHITE,95.5,United States,United States
46,62a3406b575fa3a5ae88ae78,Data Analyst,No,66k-85k,Finance,Other:SQL,5.0,7.0,1.0,1.0,0.0,8.0,Neither easy nor difficult,Better Salary,Male,32,United States,NaN,White or Caucasian,WHITE,75.5,United States,United States
47,62a340cab4da29969c62ec01,Data Analyst,Yes,66k-85k,Other (Please Specify):Manufacturing (Chemicals),R,7.0,8.0,10.0,8.0,9.0,9.0,Difficult,Remote Work,Female,41,United States,NaN,White or Caucasian,WHITE,75.5,United States,United States
48,62a340d62e54c9003e5324b4,Data Analyst,Yes,41k-65k,Finance,Python,5.0,6.0,6.0,6.0,6.0,6.0,Neither easy nor difficult,Remote Work,Male,33,United Kingdom,High School,White or Caucasian,WHITE,53.0,United Kingdom,United Kingdom
49,62a340e10a77c1a77f65c2e7,"Other (Please Specify):Manager, Business Intel...",Yes,150k-225k,Tech,Python,10.0,8.0,9.0,8.0,8.0,10.0,Easy,Good Work/Life Balance,Male,38,United States,NaN,Hispanic or Latino,HISPANIC,187.5,United States,United States

In [188]:
df['Country_Cleaned'].value_counts()

United States                    255
India                             72
United Kingdom                    39
Canada                            31
Nigeria                           18
Germany                           14
Nigeria                           10
Spain                              9
Australia                          7
Poland                             6
Kenya                              6
Costa Rica                         6
Mexico                             6
Egypt                              6
Argentina                          5
Portugal                           5
Netherlands                        5
Colombia                           4
Greece                             4
Singapore                          3
France                             3
Romania                            3
Other (Please Specify)             3
South Africa                       2
Indonesia                          2
Malaysia                           2
Peru                               2
Morocco                            2
Costa Rica                         2
UAE                                2
Belgium                            2
Israel                             2
Bulgaria                           2
Bangladesh                         2
Niger                              2
Ireland                            2
Ghana                              2
Denmark                            2
Sudan                              2
Japan                              2
Turkey                             2
Panama                             2
Chile                              2
Brazil                             2
Uruguay                            1
Philippines                        1
ghana                              1
United Arab Emirates               1
Saudi Arabia                       1
Zambia                             1
Austr                              1
Leba                               1
Hong Kong                          1
Fin                                1
Argentina                          1
TUNISIA                            1
Sri lanka                          1
Kenua                              1
Angola                             1
Liberia                            1
SG                                 1
Aisa                               1
Argentine                          1
Sweden                             1
Saudi Arabia                       1
Algeria                            1
Ireland                            1
uzb                                1
Morocco                            1
Africa (Nigeria)                   1
South Africa                       1
indonesia                          1
 Somalia                           1
Thailand                           1
Barbados                           1
Kenya                              1
Per                               1
Vietnam                            1
turkey                             1
Azerbaijan                         1
Pakistan                           1
Mozambique                         1
Egypt                              1
Serbia                             1
Kosovo                             1
South Korea                        1
Iraq                               1
nigeria                            1
Portugsl                           1
Macedonia                          1
Irel                               1
Iran                               1
Ire                                1
Republic democratic of Congo       1
Antigua                            1
Venezuela                          1
Brazik                             1
Oman                               1
Name: Country_Cleaned, dtype: int64

## Standardize the Job_Title Column

In [200]:
df['Job_Title_Cleaned'] = df['Job Title'].str.split(' \(Please', 1).str.get(0)
df.head(50)

,Unique ID,Job Title,Career Switch,Yearly Salary(in USD),Work Industry,Favorite Programming Language,Happiness(Salary),Happiness(Work/Life Balance),Happiness(Coworkers),Happiness(Management),Happiness(Upward Mobility),Happiness(Learning New Things),Difficulty of Breaking into Data,what do you look for in a new job,Male/Female,Age,Country,Education Level,Ethnicity,Ethnicity_Cleaned,Average Salary,Countries_Cleaned,Country_Cleaned,Job Title Cleaned,Job_Title_Cleaned
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,WHITE,115.5,United States,United States,Data Analyst,Data Analyst
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,ASIAN,53.0,Canada,Canada,Data Analyst,Data Analyst
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Nigeria,Nigeria,Data Engineer,Data Engineer
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,WHITE,187.5,Canada,Canada,Other,Other
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,BLACK,53.0,United States,United States,Data Analyst,Data Analyst
5,62a33cb6cf25554317300177,Data Analyst,Yes,0-40k,Other (Please Specify):Coworking space,Python,2.0,3.0,3.0,3.0,3.0,2.0,Difficult,Good Work/Life Balance,Male,33,Other (Please Specify):Republic democratic of ...,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Republic democratic of ...,Republic democratic of Congo,Data Analyst,Data Analyst
6,62a33cb72e54c9003e531c65,Data Scientist,Yes,0-40k,Finance,Python,0.0,6.0,6.0,6.0,6.0,5.0,Difficult,Better Salary,Male,24,Other (Please Specify),NaN,Black or African American,BLACK,20.0,Other (Please Specify),Other (Please Specify),Data Scientist,Data Scientist
7,62a33cd30f8c8599d5af0f8f,Data Engineer,Yes,125k-150k,Other (Please Specify):Retail,Other:SQL,10.0,5.0,5.0,5.0,5.0,9.0,Neither easy nor difficult,Remote Work,Male,35,United States,NaN,Asian or Asian American,ASIAN,137.5,United States,United States,Data Engineer,Data Engineer
8,62a33cd3cf255543173001d9,Data Analyst,Yes,86k-105k,Healthcare,R,4.0,4.0,4.0,4.0,5.0,5.0,Neither easy nor difficult,Better Salary,Male,35,United States,NaN,Asian or Asian American,ASIAN,95.5,United States,United States,Data Analyst,Data Analyst
9,62a33cd8bc6861bf3176c05f,Data Analyst,Yes,41k-65k,Telecommunication,Python,2.0,0.0,3.0,3.0,0.0,4.0,Very Difficult,Better Salary,Male,28,United States,NaN,Hispanic or Latino,HISPANIC,53.0,United States,United States,Data Analyst,Data Analyst
10,62a33ce918134ddc75ce8c30,Data Analyst,Yes,66k-85k,Other (Please Specify):Logistics,Python,10.0,10.0,8.0,8.0,8.0,10.0,Neither easy nor difficult,Remote Work,Male,37,Canada,NaN,White or Caucasian,WHITE,75.5,Canada,Canada,Data Analyst,Data Analyst
11,62a33cf30a77c1a77f65baa2,Data Analyst,Yes,0-40k,Other (Please Specify):Igaming,Python,3.0,8.0,10.0,10.0,7.0,8.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Serbia,NaN,White or Caucasian,WHITE,20.0,Other (Please Specify):Serbia,Serbia,Data Analyst,Data Analyst
12,62a33d15f408bae018ed370d,Data Analyst,Yes,0-40k,Tech,R,1.0,10.0,9.0,9.0,5.0,10.0,Neither easy nor difficult,Better Salary,Male,34,Other (Please Specify):Argentina,NaN,Other (Please Specify):Latino with Italian roots,HISPANIC,20.0,Other (Please Specify):Argentina,Argentina,Data Analyst,Data Analyst
13,62a33d1ebae91e4b8b82e707,Data Scientist,Yes,0-40k,Education,Python,3.0,10.0,10.0,6.0,7.0,8.0,Easy,Good Work/Life Balance,Male,30,United Kingdom,NaN,White or Caucasian,WHITE,20.0,United Kingdom,United Kingdom,Data Scientist,Data Scientist
14,62a33d4624a26260273824c4,Data Analyst,No,41k-65k,Construction,R,4.0,5.0,5.0,5.0,4.0,5.0,Neither easy nor difficult,Good Culture,Male,31,United States,NaN,White or Caucasian,WHITE,53.0,United States,United States,Data Analyst,Data Analyst
15,62a33d5c0f8c8599d5af107c,Data Analyst,Yes,41k-65k,Finance,Python,4.0,10.0,7.0,7.0,7.0,5.0,Difficult,Good Culture,Male,29,United States,NaN,White or Caucasian,WHITE,53.0,United States,United States,Data Analyst,Data Analyst
16,62a33d850f8c8599d5af10cb,Data Analyst,Yes,0-40k,Tech,Python,1.0,2.0,4.0,2.0,2.0,2.0,Neither easy nor difficult,Better Salary,Male,22,Other (Please Specify):Niger,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Niger,Niger,Data Analyst,Data Analyst
17,62a33d9bf8f7561645852496,Student/Looking/None,Yes,0-40k,Other (Please Specify):Retail,Python,1.0,3.0,2.0,2.0,4.0,1.0,Difficult,Better Salary,Male,23,United States,NaN,Black or African American,BLACK,20.0,United States,United States,Student/Looking/None,Student/Looking/None
18,62a33dbdd8c00e9f5419cd65,Student/Looking/None,No,41k-65k,Tech,R,7.0,8.0,8.0,6.0,8.0,3.0,Very Difficult,Better Salary,Female,26,Canada,NaN,Asian or Asian American,ASIAN,53.0,Canada,Canada,Student/Looking/None,Student/Looking/None
19,62a33de124a26260273826b2,Data Analyst,No,0-40k,Other (Please Specify):Aviation,Python,1.0,1.0,1.0,1.0,2.0,0.0,Very Difficult,Better Salary,Male,28,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Nigeria,Nigeria,Data Analyst,Data Analyst
20,62a33dedd8c00e9f5419ce2b,Data Analyst,Yes,41k-65k,Finance,Python,5.0,5.0,5.0,5.0,5.0,5.0,Easy,Remote Work,Male,29,Other (Please Specify):Kenya,NaN,Black or African American,BLACK,53.0,Other (Please Specify):Kenya,Kenya,Data Analyst,Data Analyst
21,62a33dfbd8c00e9f5419ceda,Data Analyst,Yes,106k-125k,Tech,Other:Mostly use sql but thats not programmin...,10.0,5.0,10.0,6.0,10.0,10.0,Neither easy nor difficult,Remote Work,Female,31,United States,NaN,White or Caucasian,WHITE,115.5,United States,United States,Data Analyst,Data Analyst
22,62a33e38f3072dd8926221d3,Data Analyst,Yes,0-40k,Healthcare,Python,5.0,6.0,8.0,8.0,7.0,1.0,Neither easy nor difficult,Remote Work,Male,28,Other (Please Specify):Azerbaijan,NaN,White or Caucasian,WHITE,20.0,Other (Please Specify):Azerbaijan,Azerbaijan,Data Analyst,Data Analyst
23,62a33e54d8c00e9f5419cfe9,Data Analyst,No,0-40k,Finance,Python,4.0,4.0,4.0,4.0,4.0,4.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Argentina,NaN,Hispanic or Latino,HISPANIC,20.0,Other (Please Specify):Argentina,Argentina,Data Analyst,Data Analyst
24,62a33e62575fa3a5ae88aabf,Data Analyst,No,0-40k,Tech,Python,7.0,8.0,8.0,8.0,3.0,8.0,Easy,Better Salary,Male,24,Other (Please Specify):Sudan,NaN,Black or African American,BLACK,20.0,Other (Please Specify):Sudan,Sudan,Data Analyst,Data Analyst
25,62a33e63cec54911e9ca4f99,Data Analyst,No,0-40k,Tech,Python,4.0,6.0,6.0,6.0,7.0,7.0,Easy,Good Work/Life Balance,Male,31,India,NaN,Asian or Asian American,ASIAN,20.0,India,India,Data Analyst,Data Analyst
26,62a33e72bae91e4b8b82ea1a,Data Analyst,No,66k-85k,Other (Please Specify):Insurance,Other:SQL,7.0,10.0,5.0,5.0,5.0,2.0,Difficult,Other (Please Specify):Responsibilities,Male,23,United States,NaN,White or Caucasian,WHITE,75.5,United States,United States,Data Analyst,Data Analyst
27,62a33e890f8c8599d5af13b9,Data Analyst,Yes,106k-125k,Other (Please Specify):Energy,Python,1.0,6.0,9.0,1.0,0.0,2.0,Difficult,Remote Work,Female,33,United States,NaN,Asian or Asian American,ASIAN,115.5,United States,United States,Data Analyst,Data Analyst
28,62a33e8bf8d5efcc22f7c79a,Data Analyst,No,86k-105k,Healthcare,Other:Qlik sense script,6.0,7.0,7.0,7.0,7.0,4.0,Very Easy,Better Salary,Male,43,United States,NaN,White or Caucasian,WHITE,95.5,United States,United States,Data Analyst,Data Analyst
29,62a33e90cec54911e9ca5031,Student/Looking/None,Yes,0-40k,Other (Please Specify):Oil and gas,R,0.0,0.0,5.0,0.0,0.0,0.0,Very Difficult,Remote Work,Female,23,Other (Please Specify):Nigeria,NaN,Other (Please Specify):African,BLACK,20.0,Other (Please Specify):Nigeria,Nigeria,Student/Looking/None,Student/Looking/None
30,62a33e9df8f756164585277b,Student/Looking/None,Yes,41k-65k,Finance,Python,10.0,7.0,10.0,10.0,5.0,3.0,Very Difficult,Good Work/Life Balance,Male,31,United States,NaN,Black or African American,BLACK,53.0,United States,United States,Student/Looking/None,Student/Looking/None
31,62a33eb6bc6861bf3176c5a3,Data Analyst,Yes,66k-85k,Finance,Python,5.0,6.0,7.0,5.0,4.0,4.0,Neither easy nor difficult,Other (Please Specify):Development,Male,31,United Kingdom,NaN,White or Caucasian,WHITE,75.5,United Kingdom,United Kingdom,Data Analyst,Data Analyst
32,62a33ee0bae91e4b8b82eaec,Data Analyst,Yes,0-40k,Other (Please Specify),Python,8.0,7.0,8.0,7.0,7.0,7.0,Difficult,Good Work/Life Balance,Male,25,India,NaN,Asian or Asian American,ASIAN,20.0,India,India,Data Analyst,Data Analyst
33,62a33ee80f8c8599d5af14b7,Data Engineer,No,125k-150k,Tech,Other:SQL,8.0,10.0,10.0,9.0,9.0,9.0,Easy,Better Salary,Male,43,United States,NaN,White or Caucasian,WHITE,137.5,United States,United States,Data Engineer,Data Engineer
34,62a33efe0a77c1a77f65bf1e,Data Analyst,No,41k-65k,Finance,Python,2.0,3.0,5.0,5.0,5.0,5.0,Difficult,Better Salary,Female,26,Canada,NaN,Other (Please Specify):South Asian,ASIAN,53.0,Canada,Canada,Data Analyst,Data Analyst
35,62a33f0ef408bae018ed3aeb,Other (Please Specify):FP&A Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,5.0,10.0,8.0,8.0,8.0,7.0,Neither easy nor difficult,Remote Work,Male,32,Other (Please Specify):Japan,NaN,White or Caucasian,WHITE,53.0,Other (Please Specify):Japan,Japan,Other,Other
36,62a33f17f8f7561645852867,Other (Please Specify):BI Developer,No,0-40k,Tech,Python,2.0,9.0,7.0,7.0,5.0,6.0,Difficult,Better Salary,Male,31,Other (Please Specify):Greece,NaN,White or Caucasian,WHITE,20.0,Other (Please Specify):Greece,Greece,Other,Other
37,62a33f52bc6861bf3176c72c,Data Analyst,Yes,86k-105k,Healthcare,Other:sql,3.0,5.0,6.0,4.0,4.0,5.0,Neither easy nor difficult,Better Salary,Male,29,United States,NaN,White or Caucasian,WHITE,95.5,United States,United States,Data Analyst,Data Analyst
38,62a33f56cf255543173005e9,Data Analyst,Yes,0-40k,Other (Please Specify):Automotive,Python,3.0,1.0,3.0,2.0,3.0,1.0,Neither easy nor difficult,Good Culture,Male,24,Other (Please Specify):Per,NaN,Hispanic or Latino,HISPANIC,20.0,Other (Please Specify):Per,Per,Data Analyst,Data Analyst
39,62a33f5a5d257a28a30d7bb5,Student/Looking/None,Yes,41k-65k,Construction,Python,2.0,0.0,2.0,2.0,0.0,0.0,Very Difficult,Remote Work,Male,34,United States,NaN,White or Caucasian,WHITE,53.0,United States,United States,Student/Looking/None,Student/Looking/None
40,62a33fa5cec54911e9ca51f1,Data Analyst,Yes,41k-65k,Other (Please Specify):Utili,Other:Power bi,5.0,6.0,6.0,5.0,4.0,6.0,Very Difficult,Better Salary,Male,42,Other (Please Specify):Australia,NaN,Other (Please Specify):Indian,ASIAN,53.0,Other (Please Specify):Australia,Australia,Data Analyst,Data Analyst
41,62a33fcb575fa3a5ae88ad59,Student/Looking/None,Yes,0-40k,Other (Please Specify):Not working yet,JavaScript,0.0,0.0,0.0,0.0,0.0,0.0,Difficult,Remote Work,Female,40,United States,NaN,Asian or Asian American,ASIAN,20.0,United States,United States,Student/Looking/None,Student/Looking/None
42,62a33fcf18134ddc75ce91c3,Student/Looking/None,No,41k-65k,Telecommunication,Python,3.0,1.0,3.0,4.0,0.0,3.0,Easy,Good Work/Life Balance,Male,43,Other (Please Specify):Spain,NaN,White or Caucasian,WHITE,53.0,Other (Please Specify):Spain,Spain,Student/Looking/None,Student/Looking/None
43,62a34006d8c00e9f5419d341,Student/Looking/None,Yes,0-40k,Construction,Python,0.0,0.0,0.0,0.0,0.0,0.0,Very Difficult,Better Salary,Male,23,Other (Please Specify):Kenya,NaN,Other (Please Specify):Kenyan African,BLACK,20.0,Other (Please Specify):Kenya,Kenya,Student/Looking/None,Student/Looking/None
44,62a34020575fa3a5ae88ade0,Student/Looking/None,Yes,0-40k,Education,Python,5.0,5.0,3.0,5.0,2.0,6.0,Difficult,Better Salary,Male,23,Other (Please Specify):Japan,NaN,Asian or Asian American,ASIAN,20.0,Other (Please Specify):Japan,Japan,Student/Looking/None,Student/Looking/None
45,62a34038b4da29969c62eafe,Data Analyst,Yes,86k-105k,Other (Please Specify):Manufa,Python,8.0,6.0,2.0,3.0,6.0,7.0,Neither easy nor difficult,Other (Please Specify):Strong organizational d...,Male,28,United States,NaN,White or Caucasian,WHITE,95.5,United States,United States,Data Analyst,Data Analyst
46,62a3406b575fa3a5ae88ae78,Data Analyst,No,66k-85k,Finance,Other:SQL,5.0,7.0,1.0,1.0,0.0,8.0,Neither easy nor difficult,Better Salary,Male,32,United States,NaN,White or Caucasian,WHITE,75.5,United States,United States,Data Analyst,Data Analyst
47,62a340cab4da29969c62ec01,Data Analyst,Yes,66k-85k,Other (Please Specify):Manufacturing (Chemicals),R,7.0,8.0,10.0,8.0,9.0,9.0,Difficult,Remote Work,Female,41,United States,NaN,White or Caucasian,WHITE,75.5,United States,United States,Data Analyst,Data Analyst
48,62a340d62e54c9003e5324b4,Data Analyst,Yes,41k-65k,Finance,Python,5.0,6.0,6.0,6.0,6.0,6.0,Neither easy nor difficult,Remote Work,Male,33,United Kingdom,High School,White or Caucasian,WHITE,53.0,United Kingdom,United Kingdom,Data Analyst,Data Analyst
49,62a340e10a77c1a77f65c2e7,"Other (Please Specify):Manager, Business Intel...",Yes,150k-225k,Tech,Python,10.0,8.0,9.0,8.0,8.0,10.0,Easy,Good Work/Life Balance,Male,38,United States,NaN,Hispanic or Latino,HISPANIC,187.5,United States,United States,Other,Other

In [201]:
df['Job_Title_Cleaned'].value_counts()

Data Analyst            371
Student/Looking/None     88
Other                    86
Data Engineer            38
Data Scientist           25
Database Developer        5
Data Architect            3
Name: Job_Title_Cleaned, dtype: int64

## Programming Language Standarization

In [207]:
df['Favorite_Programming_Language_Cleaned'] = df['Favorite Programming Language'].str.split(' \(Please', 1).str.get(0)
df['Favorite_Programming_Language_Cleaned'] = df['Favorite Programming Language'].str.split(':', 1).str.get(0)
df.head(20)

,Unique ID,Job Title,Career Switch,Yearly Salary(in USD),Work Industry,Favorite Programming Language,Happiness(Salary),Happiness(Work/Life Balance),Happiness(Coworkers),Happiness(Management),Happiness(Upward Mobility),Happiness(Learning New Things),Difficulty of Breaking into Data,what do you look for in a new job,Male/Female,Age,Country,Education Level,Ethnicity,Ethnicity_Cleaned,Average Salary,Country_Cleaned,Job_Title_Cleaned,Favorite_Programming_Language_Cleaned
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,WHITE,115.5,United States,Data Analyst,Python
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,ASIAN,53.0,Canada,Data Analyst,R
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK,20.0,Nigeria,Data Engineer,Python
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,WHITE,187.5,Canada,Other,R
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,BLACK,53.0,United States,Data Analyst,R
5,62a33cb6cf25554317300177,Data Analyst,Yes,0-40k,Other (Please Specify):Coworking space,Python,2.0,3.0,3.0,3.0,3.0,2.0,Difficult,Good Work/Life Balance,Male,33,Other (Please Specify):Republic democratic of ...,NaN,Black or African American,BLACK,20.0,Republic democratic of Congo,Data Analyst,Python
6,62a33cb72e54c9003e531c65,Data Scientist,Yes,0-40k,Finance,Python,0.0,6.0,6.0,6.0,6.0,5.0,Difficult,Better Salary,Male,24,Other (Please Specify),NaN,Black or African American,BLACK,20.0,Other (Please Specify),Data Scientist,Python
7,62a33cd30f8c8599d5af0f8f,Data Engineer,Yes,125k-150k,Other (Please Specify):Retail,Other:SQL,10.0,5.0,5.0,5.0,5.0,9.0,Neither easy nor difficult,Remote Work,Male,35,United States,NaN,Asian or Asian American,ASIAN,137.5,United States,Data Engineer,Other
8,62a33cd3cf255543173001d9,Data Analyst,Yes,86k-105k,Healthcare,R,4.0,4.0,4.0,4.0,5.0,5.0,Neither easy nor difficult,Better Salary,Male,35,United States,NaN,Asian or Asian American,ASIAN,95.5,United States,Data Analyst,R
9,62a33cd8bc6861bf3176c05f,Data Analyst,Yes,41k-65k,Telecommunication,Python,2.0,0.0,3.0,3.0,0.0,4.0,Very Difficult,Better Salary,Male,28,United States,NaN,Hispanic or Latino,HISPANIC,53.0,United States,Data Analyst,Python
10,62a33ce918134ddc75ce8c30,Data Analyst,Yes,66k-85k,Other (Please Specify):Logistics,Python,10.0,10.0,8.0,8.0,8.0,10.0,Neither easy nor difficult,Remote Work,Male,37,Canada,NaN,White or Caucasian,WHITE,75.5,Canada,Data Analyst,Python
11,62a33cf30a77c1a77f65baa2,Data Analyst,Yes,0-40k,Other (Please Specify):Igaming,Python,3.0,8.0,10.0,10.0,7.0,8.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Serbia,NaN,White or Caucasian,WHITE,20.0,Serbia,Data Analyst,Python
12,62a33d15f408bae018ed370d,Data Analyst,Yes,0-40k,Tech,R,1.0,10.0,9.0,9.0,5.0,10.0,Neither easy nor difficult,Better Salary,Male,34,Other (Please Specify):Argentina,NaN,Other (Please Specify):Latino with Italian roots,HISPANIC,20.0,Argentina,Data Analyst,R
13,62a33d1ebae91e4b8b82e707,Data Scientist,Yes,0-40k,Education,Python,3.0,10.0,10.0,6.0,7.0,8.0,Easy,Good Work/Life Balance,Male,30,United Kingdom,NaN,White or Caucasian,WHITE,20.0,United Kingdom,Data Scientist,Python
14,62a33d4624a26260273824c4,Data Analyst,No,41k-65k,Construction,R,4.0,5.0,5.0,5.0,4.0,5.0,Neither easy nor difficult,Good Culture,Male,31,United States,NaN,White or Caucasian,WHITE,53.0,United States,Data Analyst,R
15,62a33d5c0f8c8599d5af107c,Data Analyst,Yes,41k-65k,Finance,Python,4.0,10.0,7.0,7.0,7.0,5.0,Difficult,Good Culture,Male,29,United States,NaN,White or Caucasian,WHITE,53.0,United States,Data Analyst,Python
16,62a33d850f8c8599d5af10cb,Data Analyst,Yes,0-40k,Tech,Python,1.0,2.0,4.0,2.0,2.0,2.0,Neither easy nor difficult,Better Salary,Male,22,Other (Please Specify):Niger,NaN,Black or African American,BLACK,20.0,Niger,Data Analyst,Python
17,62a33d9bf8f7561645852496,Student/Looking/None,Yes,0-40k,Other (Please Specify):Retail,Python,1.0,3.0,2.0,2.0,4.0,1.0,Difficult,Better Salary,Male,23,United States,NaN,Black or African American,BLACK,20.0,United States,Student/Looking/None,Python
18,62a33dbdd8c00e9f5419cd65,Student/Looking/None,No,41k-65k,Tech,R,7.0,8.0,8.0,6.0,8.0,3.0,Very Difficult,Better Salary,Female,26,Canada,NaN,Asian or Asian American,ASIAN,53.0,Canada,Student/Looking/None,R
19,62a33de124a26260273826b2,Data Analyst,No,0-40k,Other (Please Specify):Aviation,Python,1.0,1.0,1.0,1.0,2.0,0.0,Very Difficult,Better Salary,Male,28,Other (Please Specify):Nigeria,NaN,Black or African American,BLACK,20.0,Nigeria,Data Analyst,Python

In [210]:
df['Favorite_Programming_Language_Cleaned'].value_counts()

Python        410
R             100
Other          92
C/C++           7
JavaScript      6
Java            1
Name: Favorite_Programming_Language_Cleaned, dtype: int64

In [211]:
#df = df.drop("Countries_Cleaned", axis=1)
#df.head()

In [213]:
df.to_excel('D:\End-To-End_Project_Survey\Cleaned_Survey_Project2.xlsx', sheet_name = 'Cleaned_Project', index = False)